<main>
    <article>
    <p>Admin login. </p>
    
        <!-- partial:index.partial.html -->
  <!-- <div class="container">
    <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#loginModal">
      Login121212

    </button>  
  </div> -->
  
  <div class="modal fade center" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-title text-center">
            <h4>Admin</h4>
          </div>
          <div class="d-flex flex-column text-center">
            <form #regform="ngForm" (ngSubmit)="getuserValue(regform)">
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Your email address..." #email="ngModel" ngModel required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Your password..." #password="ngModel"  ngModel required>
              </div>
              <button type="submit" value="send" class="btn btn-info btn-block btn-round">Login</button>
            </form>
            
            <div class="text-center text-muted delimiter">or use a social network</div>
            <div class="d-flex justify-content-center social-buttons">
              <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="fab fa-twitter"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="fab fa-facebook"></i>
              </button>
              <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="fab fa-linkedin"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
        <!-- <div class="modal-footer d-flex justify-content-center">
          <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
        </div> -->
    </div>
  </div>
  <!-- partial -->
  
    
    </article>
   </main>
   