<body>
    <div class="py-5  mt-2 text-center">
      <div class="container ">
        <div class="row hidden-md-up">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block ">
                <h4 class="card-title">Event title</h4>
                <h6 class="card-subtitle text-muted">Support event subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the event title .</p>
                <!-- <a href="#" class="card-link">link</a> -->
                <a href="#" class="card-link">youtube</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">event title</h4>
                <h6 class="card-subtitle text-muted">Support event subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the event title .</p>
                <!-- <a href="#" class="card-link">link</a> -->
                <a href="#" class="card-link">youtub link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">event title</h4>
                <h6 class="card-subtitle text-muted">Support event subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the event title .</p>
                <!-- <a href="#" class="card-link">link</a> -->
                <a href="#" class="card-link">youtube link</a>
              </div>
            </div>
          </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">evetn title</h4>
                <h6 class="card-subtitle text-muted">Support evetn subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the event title .</p>
                <!-- <a href="#" class="card-link">link</a> -->
                <a href="#" class="card-link">youtube link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Events title</h4>
                <h6 class="card-subtitle text-muted">Support Event subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the Event title .</p>
                <!-- <a href="#" class="card-link">link</a> -->
                <a href="#" class="card-link">youtube link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Event title</h4>
                <h6 class="card-subtitle text-muted">Support Event subtitle</h6>
                <p class="card-text p-y-1">Some quick example text to build on the Event title .</p>
                <!-- <a href="#" class="card-link">link</a> -->
                <a href="#" class="card-link">youtube link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  </body>