<div class="">
<div class="figure effect-6">
    <img src="../../assets/image/demo.jpg" alt="img12" />
    <div class="figcaption">
        <div>
            <h2>Effect 6 <span>Layla</span></h2>

            <p>Layla never knows what he wants.</p> 

        </div>
    </div>
</div>

<div class="figure effect-6">
    <img src="../../assets/image//demo1.jpg" alt="img12" />
    <div class="figcaption">
        <div>
            <h2>Effect 6 <span>Layla</span></h2>

            <p>Layla never knows what he wants.</p> 

        </div>
    </div>
</div>
</div>
