<!-- <div class="">
<div class="figure effect-6">
    <img src="../../assets/image/demo.jpg" alt="img12" />
    <div class="figcaption">
        <div>
            <h2>Effect 6 <span>Layla</span></h2>

            <p>Layla never knows what he wants.</p> 

        </div>
    </div>
</div>

<div class="figure effect-6">
    <img src="../../assets/image//demo1.jpg" alt="img12" />
    <div class="figcaption">
        <div>
            <h2>Effect 6 <span>Layla</span></h2>

            <p>Layla never knows what he wants.</p> 

        </div>
    </div>
</div>
</div> -->
<div class="col-10 mt-4 ml-auto mr-auto">
    <!-- item -->
    <figure class="rounded caption-1">
      <img src="https://i.postimg.cc/LsMkfnKk/5.jpg" alt="" class="w-100 card-img-top border border-white border-md mt-2">
      <figcaption class="px-5 py-4 text-right text-light">
        <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
        <p class="text-small">By Jason Doe</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-10 mt-4 ml-auto mr-auto">
    <!-- item -->
    <figure class="rounded caption-1">
      <img src="https://i.postimg.cc/LsMkfnKk/5.jpg" alt="" class="w-100 card-img-top border border-white border-md mt-2">
      <figcaption class="px-5 py-4 text-right text-light">
        <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
        <p class="text-small">By Jason Doe</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-10 mt-4 ml-auto mr-auto">
    <!-- item -->
    <figure class="rounded caption-1">
      <img src="https://i.postimg.cc/LsMkfnKk/5.jpg" alt="" class="w-100 card-img-top border border-white border-md mt-2">
      <figcaption class="px-5 py-4 text-right text-light">
        <h2 class="h5 font-weight-bold mb-0">Image caption</h2>
        <p class="text-small">By Jason Doe</p>
      </figcaption>
    </figure>
  </div>