<div class="mt-2 pt-2" style="text-align:center ;background: white;">
    <h2>क्षत्रिय महासभा संपूर्ण भारत विश्व ट्रस्ट के उद्देश्य</h2><span><hr></span>
    <p>*  नागरिकों एवं मतदाताओं को सामाजिक आर्थिक और राजनीतिक न्याय विचार अभिव्यक्ति विश्वास धर्म और उपासना की स्वतंत्रता प्रतिष्ठा और अवसर की समता प्राप्त कराने के लिए और इन सब में व्यक्ति की गरिमा और राष्ट्र एकता और अखंडता सुनिश्चित करने वाली बंधुता बढ़ाने का प्रयत्न करना</p>
    <p>* नागरिकों एवं मतदाताओं को सामाजिक, आर्थिक और राजनीतिक,न्याय, विचार, अभिव्यक्ति, विश्वास, धर्म और उपासना की स्वतंत्रता प्रतिष्ठा और अवसर की समता प्राप्त कराने के लिए और इन सब में व्यक्ति की गरिमा और राष्ट्र एकता और अखंडता सुनिश्चित करने वाली बंधुता बढ़ाने का प्रयत्न करना</p>  
</div>
  
  <!-- The App Section -->
  <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>The App</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why buy it?</b></h1>
        <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button class="button">Download Application</button>
      </div>
      <div class="column-33">
        <!-- <img src="/w3images/img_app.jpg" width="335" height="471"> -->
      </div>
    </div>
  </div>
  
  <!-- Clarity Section -->
  <div class="container" style="background-color:#f1f1f1">
    <div class="row">
      <div class="column-33">
        <img src="././assets/image/demo.jpg" alt="App" width="335" height="471">
      </div>
      <div class="column-66">
        <h1 class="xlarge-font"><b>Clarity</b></h1>
        <h1 class="large-font" style="color:red;"><b>Pixels, who?</b></h1>
        <p><span style="font-size:24px">A revolution in resolution.</span> Sharp and clear photos with the world's best photo engine, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button class="button" style="background-color:red" routerLink="#">Read More</button>
      </div>
    </div>
  </div>
  
  <!-- The App Section -->
  <!-- <div class="container">
    <div class="row">
      <div class="column-66">
        <h1 class="xlarge-font"><b>The App</b></h1>
        <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why buy it?</b></h1>
        <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <button class="button">Download Application</button>
      </div>
      <div class="column-33">
          <img src="/w3images/img_app.jpg" width="335" height="471" >
      </div>
    </div>
  </div> -->


  <!-- <div class="container"> 
    <iframe class="responsive-iframe" src="https://youtu.be/fPO7uLAfGaw"></iframe>
  </div> -->
  
  <!-- <div class="embed-responsive embed-responsive-16by9"> -->
    <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=fPO7uLAfGaw" allowfullscreen></iframe> -->
    <!-- <iframe width="853" height="480" src="https://www.youtube.com/watch?v=fPO7uLAfGaw" frameborder="0" allowfullscreen ng-show="showvideo"></iframe> -->
    <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=fPO7uLAfGaw" frameborder="0" allowfullscreen></iframe> -->


    <div class="embed-responsive embed-responsive-16by9 mt-4">    
      <youtube-player 
         videoId="fPO7uLAfGaw" 
         suggestedQuality="highres" 
 
         [startSeconds]="0"
         [endSeconds]="305">
      </youtube-player>
    </div>